DATABASE_URL=postgresql://postgres:postgres@db:5432/fleetcontrol_puj
JWT_SECRET=fleet_puj_demo_secret_2025
JWT_EXPIRES_IN=8h
OPENWEATHERMAP_API_KEY=
QR_SECRET_KEY=
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://backend:4000
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
RESEND_API_KEY=re_TTGRjkqT_B523jaWuUJRBnvwDWwuz6iNA
